.sidebar{
  position:fixed;
  left:0;
  bottom:0;
  top:55px;
  background-color: white;
  width:72px;
  z-index:200;
  padding-top: 5px;
  margin-left: 0px;
}
.sidebar-link{
  height:74px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}
.sidebar-link:hover{
  background-color: #f2f2f2;
  cursor: pointer;
  border-radius: 5px;
}
.sidebar-link img{
  height:24px;
  margin-bottom: 6px;
}
.sidebar-link div{
  font-size:10px;
}